<mat-drawer-container (backdropClick)="toggleDrawer()">
  <mat-drawer 
    [mode]="isDesktop ? 'side' : 'over' " 
    [opened]="isOpened"
    class="base-drawer"
  >
    <div class="drawer-header">
      <span>{{ headerTitle }}</span>
      <button *ngIf="headerIcon" mat-icon-button (click)="headerButtonClicked()">
        <mat-icon>{{ headerIcon }}</mat-icon>
      </button>
    </div>

    <mat-progress-spinner
      *ngIf="loading"
      class="spinner"
      color="accent"
      mode="indeterminate">
    </mat-progress-spinner>

    <mat-list *ngIf="!loading" class="link-list">
      <bl-nav-drawer-item
        *ngFor="let link of links"
        icon="{{ link.icon }}"
        text="{{ link.text }}"
        [isSelected]="link.isSelected"
        (click)="changeSelected(link)"
      ></bl-nav-drawer-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
      <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>