<h2 mat-dialog-title class="dialog-header">{{ data.header }}</h2>
<div mat-dialog-content>
  <form [formGroup]="filterLogsForm">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field class="project-field">
        <mat-placeholder>Select Project</mat-placeholder>
        <mat-select #projectSelect formControlName="projects" multiple>
          <mat-select-trigger>
            <span *ngIf="filterLogsForm?.get('projects').value?.length >= 1" class="additional-selection">
              ({{filterLogsForm.get('projects').value.length}} projects selected)
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let project of projects$ | async" [value]="project.id">
            {{ project.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="date-field">
        <mat-placeholder>Hourly Rate</mat-placeholder>
        <mat-icon matSuffix>payment</mat-icon>
        <input type="number" formControlName="rate" matInput required autocomplete="false">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field class="date-field">
        <mat-placeholder>Start Date</mat-placeholder>
        <mat-datetimepicker-toggle [for]="startDatePicker" matSuffix></mat-datetimepicker-toggle>
        <mat-datetimepicker #startDatePicker type="date" openOnFocus="true"></mat-datetimepicker>
        <input formControlName="startDate" [matDatetimepicker]="startDatePicker" matInput required autocomplete="false">
      </mat-form-field>
  
      <mat-form-field class="date-field">
        <mat-placeholder>End Date</mat-placeholder>
        <mat-datetimepicker-toggle [for]="endDatePicker" matSuffix></mat-datetimepicker-toggle>
        <mat-datetimepicker #endDatePicker type="date" openOnFocus="true"></mat-datetimepicker>
        <input formControlName="endDate" [matDatetimepicker]="endDatePicker" matInput required autocomplete="false">
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="closeDialog()">Close</button>
  <button mat-button color="warn" (click)="clearForm()">Clear</button>
</div>