<div class="invoice-wrapper">
  <bl-nav-drawer 
    [links]="links"
    headerTitle="Invoices"
    (selected)="onLinkSelected($event)"
    #drawer>
    <div class="invoice-content">
      <bl-invoice-detail
        *ngIf="selectedInvoice !== 'recent'"
        [headerTitle]="headerTitle"
        [selectedInvoice]="selectedInvoice">
      </bl-invoice-detail>

      <bl-empty-state-invoice
        *ngIf="selectedInvoice == 'recent'"
        [headerTitle]="headerTitle"
        (invoiceCreated)="invoiceCreated($event)">
      </bl-empty-state-invoice>
    </div>
  </bl-nav-drawer>
</div>