<div class="project-wrapper">
  <bl-nav-drawer
    headerTitle="Projects"
    headerIcon="create"
    (headerAction)="showNewProject = true"
    (selected)="onLinkSelected($event)"
    #drawer>
    <div class="nav-links">
      <bl-nav-drawer-link
        *ngFor="let link of links$ | async"
        icon="{{ link.icon }}"
        text="{{ link.text }}"
      ></bl-nav-drawer-link>
    </div>
    <div class="project-content">
      <router-outlet></router-outlet>
    </div>
  </bl-nav-drawer>
</div>
