.list-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  width: 100%;
}

.more-btn {
  margin: 2rem auto;
  width: 80%;
}

.empty-state {
  height: 100%;
  height: calc(100vh - 126.59px);
  background: #ddd;
}
