<div class="invoice-header">
  <div class="invoice-header__title">{{ headerTitle }}</div>
  <eco-fab-speed-dial
    #invoiceFab
    [(open)]="open"
    direction="left"
    animationMode="fling"
    [fixed]="true"
    (mouseenter)="invoiceFab.open = true"
    (mouseleave)="invoiceFab.open = false">
    <eco-fab-speed-dial-trigger>
      <button *ngIf="currentInvoice" mat-fab (click)="saveInvoice()" color="accent" matTooltip="Save Invoice">
        <mat-icon>save</mat-icon>
      </button>
      <button *ngIf="!currentInvoice" mat-fab (click)="openDialog()" color="primary" matTooltip="Filter Logs">
        <mat-icon>add</mat-icon>
      </button>
    </eco-fab-speed-dial-trigger>

    <eco-fab-speed-dial-actions>
      <button
        *ngIf="currentInvoice"
        mat-mini-fab
        color="primary"
        (click)="openDialog()"
        matTooltip="Edit Log Filter">
        <mat-icon>filter_list</mat-icon>
      </button>
    </eco-fab-speed-dial-actions>
  </eco-fab-speed-dial>
</div>
<mat-tab-group *ngIf="filterInputs">
  <mat-tab label="Hours">
    <bl-invoice-table
      [filterInputs]="filterInputs"
      (currentLogs)="createInvoice($event)">
    </bl-invoice-table>
  </mat-tab>
  <mat-tab label="Invoice"></mat-tab>
  <mat-tab label="Stats"></mat-tab>
</mat-tab-group>