@import '~sass/variables';

.dialog-header {
  background: $primary;
  color: #fff;
  width: calc(500px - 48px);
  height: 20px;
  padding: 24px;
  margin: -24px 0 0 -24px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
}

.log-form {
  display: grid;
  grid-column-gap: 16px;
  grid-template-areas:
    'project date'
    'start end'
    'note note';
  padding: 8px 0;
}

.project-field {
  grid-area: project;
}

.date-field {
  grid-area: date;
}

.startTime-field {
  grid-area: start;
}

.endTime-field {
  grid-area: end;
}

.notes-field {
  grid-area: note;
}

.dialog-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
