:host {
  width: 100%;
}

.list-item {
  height: 7rem;
  width: 100%;
}

.log-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  padding: 6px 4em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  color: #2c3e50;
}

.log-data {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 500px;
}

.log-note {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.log-details {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
  max-height: 1.5rem;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  line-height: 1.5;

  & div {
    display: flex;
    justify-content: center;
    text-align: left;
    margin-right: 10px;

    & span.detail-value {
      font-weight: 400;
      margin-left: 4px;
      margin-top: 2px;
      text-overflow: clip;
    }
  }
}

.log-button {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  min-width: 44px;
  margin: 0 6px;
}

.list-item-buttons {
  width: 84px;
  padding: 0 8px 0 16px;
}
