<div class="list-item">
  <div class="log-entry">
    <div class="log-data">
      <div class="log-note">{{ log.note }}</div>
      <div class="log-details">
        <div>
          <mat-icon [style.color]="log.project.color">folder_open</mat-icon>
          <span class="detail-value">{{ log.project.name }}</span>
        </div>
  
        <div>
          <mat-icon>event</mat-icon>
          <span class="detail-value">{{ log.start | date:'mediumDate' }}</span>
        </div>
  
        <div>
          <mat-icon>access_time</mat-icon>
          <span class="detail-value">{{ formatTime(log.start) }}</span>
        </div>
  
        <div>
          <mat-icon>access_time</mat-icon>
          <span class="detail-value">{{ formatTime(log.end) }}</span>
        </div>
  
        <div>
          <mat-icon>timelapse</mat-icon>
          <span class="detail-value">{{ log.duration }}</span>
        </div>
      </div>
    </div>
  
    <div>
      <button mat-icon-button color="primary" (click)="onEditClick()"><mat-icon>mode_edit</mat-icon></button>
      <button mat-icon-button color="warn" (click)="deleteLog(log.id)"><mat-icon>delete</mat-icon></button>
    </div>
  </div>
</div>