$blue: #0065ab;
$light-blue: #49afd9;
$lightest-blue: #a6d8e7;
$grey: #798893;
$dark-grey: #1f1f1f;
$light-grey: #c1cdd4;

$text-color: #555555;

$logger-blue: (
  50: #e4f2fe,
  100: #bce0fb,
  200: #90cbf9,
  300: #64b6f7,
  400: #42a6f5,
  500: #2196f3,
  600: #1d8ef1,
  700: #1883ef,
  800: #1479ed,
  900: #0b68ea,
  A100: #ffffff,
  A200: #e1ecff,
  A400: #aeccff,
  A700: #95bcff
);

$sidenav-width: 7.85rem;

$xsmall-width: 480px;
$small-width: 600px;
$medium-width: 960px;
$large-width: 1280px;
$xlarge-width: 1920px;
