/* You can add global styles to this file, and also import other style files */
@import './assets/_variables.scss';
@import './assets/_mixins.scss';
@import '~angular-calendar/css/angular-calendar.css';

/* Application-wide Styles */
h1 {
  color: #369;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2,
h3 {
  color: #444;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  height: 100vh;
}

body,
input[text],
button {
  color: #888;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* everywhere else */
* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* calendar styles */
.cal-month-view {
  height: 100%;
  border: 1px solid #ddd;

  .cal-header .cal-cell {
    border-right: 1px solid #ddd;
    // border-left: 1px solid #ddd;
    flex-basis: 14.2857%;
    max-width: 14.2857%;
    padding: 0;
  }

  .cal-days {
    height: 100%;

    .cal-cell-row {
      height: 20%;
    }
  }
}

.advanced-pie-legend
  .legend-items-container
  .legend-items
  .legend-item
  .item-value {
  margin-top: 0 !important;
}
