@import '~@angular/material/theming';
@import '~@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss';

@include mat-core();

$logger-blue: (
  50: #e4f2fe,
  100: #bce0fb,
  200: #90cbf9,
  300: #64b6f7,
  400: #42a6f5,
  500: #2196f3,
  600: #1d8ef1,
  700: #1883ef,
  800: #1479ed,
  900: #0b68ea,
  A100: #fff,
  A200: #e1ecff,
  A400: #aeccff,
  A700: #95bcff,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000
  )
);

$logger-app-primary: mat-palette($logger-blue, 500, 300, 800);
$logger-app-accent: mat-palette($mat-blue-grey, 500);
$logger-app-warn: mat-palette($mat-red);

$logger-app-theme: mat-light-theme(
  $logger-app-primary,
  $logger-app-accent,
  $logger-app-warn
);

// Using the $theme variable from the pre-built theme you can call the theming function
@include mat-datetimepicker-theme($logger-app-theme);
@include angular-material-theme($logger-app-theme);
